.about {
  grid-column: center-start / center-end;
  grid-template-rows: 50vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-column-gap: 2rem;
  padding: 5rem;

  @media only screen and (max-width: 75em) {
    height: 40vh;
  }

  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(248, 80, 58, 0.1) 50%
    ),
    url('/img/bg/aboutme-bg.jpg');
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 46.8em) {
    padding: 3rem;
  }
}
