/* @font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('./fonts/OpenSans-Light.woff2') format('woff2'),
    url('./fonts/OpenSans-Light.woff') format('woff'),
    url('./fonts/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./fonts/OpenSans-Regular.woff') format('woff'),
    url('./fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('./fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('./fonts/OpenSans-SemiBold.woff') format('woff'),
    url('./fonts/OpenSans-SemiBold.ttf') format('ttf');
} */
#container {
  display: grid;
  /* height of the each row */
  grid-template-rows: min-content min-content repeat(2, min-content) min-content;
  grid-template-columns:
    [spaceleft-start] minmax(6rem, 1fr)
    [spaceleft-end center-start]
    repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
    [center-end spaceright-start]
    minmax(6rem, 1fr)
    [spaceright-end];

  @media only screen and (max-width: 24em) {
    grid-template-rows: min-content min-content repeat(2, min-content) min-content;
    grid-template-columns:
      [spaceleft-start] 1rem
      [spaceleft-end center-start]
      repeat(5, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end spaceright-start]
      1rem
      [spaceright-end];
  }
}
.home,
.skills,
.work,
.about {
  margin-bottom: 3rem;
}
.contact {
  margin: 6rem 0 10rem 0;
}

.shadow {
  box-shadow: 0px 0px 5px 0px rgba(138, 133, 138, 1);
}

@mixin shadow {
  box-shadow: 0px 0px 5px 0px rgba(138, 133, 138, 1);
}

/* COLOR VARIABLES */

// contrast bg-colors
$bg-color-seegreen: #4a85a5;
$bg-color-light-peach: #f8e5d5;
$bg-color-seegreen: #4a85a5;

// Font colors
$color-grey-dark-1: #766d66;
$color-grey-dark-2: #696059;

:root {
  --color-primary: #ffa45c;
  --color-secondary: #302822;
  --color-secondary-rbg: 48, 40, 34;

  --color-bg-linen: #f8e5d5;
  --color-moodyblue: #7a7ad6;

  // Border Color
  --border-color-light-grey: #cfcece;

  // DEFAULT FONT
  --font-primary: "Montserrat", sans-serif;

  --font-heading: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

// this below code should go to mixins scss file -- start
/* 
  0  - 600px Phone
  600 - 900px Tablet portrait 
  900 - 1200px Tablet landscape
  [1200 -1800] is where our normal styles apply
  1800+ :   Big Desktop

  1em == 16px;

  @breakpoints arguments choices
  -phone
  -tab-port
  -tab-land
  -big-desktop

  ORDER TO FOLLLOW MEDIA QUERY FIXES
  >Base + Typography
    > general layout (header , footer, navigation) 
      > page layout 
        > components

*/

@mixin respond($breakpoints) {
  /* // 600px / 16 = 37em
	@if $breakpoints == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	// 900px / 16 = 56.25em
	@if $breakpoints == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	// 1200px / 16 = 56.25em
	@if $breakpoints == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	// 1200px / 16 = 75em
	@if $breakpoints == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	// 1800px / 16 = 112.5em
	@if $breakpoints == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	} */
}
// above code should go to mixins scss file  -- end

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;

  // width 900 => 900/16 = 56.25
  @media screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }

  // width 800 => 800/16 = 50
  @media screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  /* @include respond(tab-land) {
		font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
	}
	
	// width < 900
	@include respond(tab-port) {
		font-size: 50%; // 1 rem = 8px, 8/16 = 50%
	}

	// width < 1800
	@include respond(big-desktop) {
		font-size: 75%; // 1 rem = 12px, 12/16 = 75%
	} */
}

body {
  font-family: var(--font-primary);
  color: $color-grey-dark-2;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
}

a,
a:link {
  color: currentColor;
  text-decoration: none;
}

// ATOMIC CLASSES
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 6rem;
}
.mb-xl {
  margin-bottom: 8rem;
}
